{:paths ["src"]
 :deps  {org.clojure/data.json            {:mvn/version "2.4.0"}
         io.pedestal/pedestal.service     {:mvn/version "0.5.10"}
         io.pedestal/pedestal.route       {:mvn/version "0.5.10"}
         io.pedestal/pedestal.jetty       {:mvn/version "0.5.10"}
         org.slf4j/slf4j-simple           {:mvn/version "1.7.36"}
         com.adyen/adyen-java-api-library {:mvn/version "17.3.0"}}}
